.post-content p, .post-summary p {
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto
}
